<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="github">
      <package pattern="CharlieTango.*" />
    </packageSource>
    <packageSource key="hallojoe">
      <package pattern="Casko.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
